// ==============================
// BootStrapとは？
// ==============================
// https://getbootstrap.com/
// cssのフレームワーク（jsも含まれているのでjsのフレームワークともいえる）
// class属性などで簡単にボタンが作れたり、モーダルが作れるので１から実装する必要がない
// ただし、便利な反面、自由度が低くなってしまい、現場独自のパーツが多い場合はBootStrapのCSSコードやjsコードを拡張しなければならず、
// １から作るより逆にコストがかかってしまうので、大規模なシステムを扱う現場では使われない
// CSSフレームワークにはBootStrapが有名だが、他にも色々なものがある（BootStrapの使い方さえ知っておけばみんな使い方はほぼ変わらない）
// ==============================
// BootStrapの使い方
// ==============================
// 1.CDNを使う
// 2.手動でダウンロードしたファイルを読み込む
// 3.パッケージ管理ツールでダウンロードしたファイルを読み込む
@import "../css/reset.css";
@import "../node_modules/bootstrap/scss/bootstrap";
// bootstrapを読み込んでから独自のCSSを読み込むこと

// ==============================
// BootStrapの注意点
// ==============================
// 1.被るclass名は使わない
//   containerというクラス名が被っているため使わない
// 2.ver3とver4とでclass名やブレークポイントが違う

// ==============================
// 変数(個人やチームでの実装の統一性を持たせるために最初に定義しておく
// ==============================
$font-color_default: #666;
$font-color_date: #e37b89; // Todo:リファクタ必要
$color_corp: #e3a8b1;
$font-color_sub1: #b6a489;
$background-color_default: #f8f7fc;

$site-width: 980px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_corp: 'Amatic SC', cursive;

// ==============================
// base
// ==============================
html, body {
  width: 100%;
  color: $font-color_default;
  font-size: $font-size_default;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; // TODO:リファクタ必要（変数にする）
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

p, a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: $font-color_default;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: $color_corp;
  transition: .3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

// =============================
// header
// =============================
.header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  color: $font-color_default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $space_xl;
  padding-right: $space_xl;
  position: fixed;
  transition: .3s;
  z-index: 2;
  &.float-active {
    transition: .3s;
    background: rgba(255, 255, 255, 0.9);
  }
  @include sm() {
    height: 60px;
    padding-right: $space_l;
    padding-left: $space_l;
  }
  @include md() {
    height: 60px;
    padding-right: $space_l;
    padding-left: $space_l;
  }
  .title {
    font-size: $font-size_xxl;
    font-family: $font-family_corp;
    font-weight: bold;
  }
}

// =============================
// menu
// =============================
.nav-menu {
  @include sm() { // Todo:リファクタ必要（PCで修正が入ることを想定して、includeはクラスの中に記載する)->Done
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, .85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s;
    &.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2;
    }
  }
}

.nav-menu {
  @include md() {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, .85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s;
    &.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: $font-size_xl;
  font-family: $font-family_corp;
  &-item {
    margin-right: $space-xl;
  }
  &-link {
    -webkit-font-smoothing: initial;
  }
  @include sm() {
    display: block;
    font-size: $font-size_xxl;
    &-item {
      margin-right: initial;
    }
    &-link {
      -webkit-font-smoothing: initial;
      display: block;
      padding: $space_l;
      text-align: center;
    }
  }
  @include md() {
    display: block;
    font-size: $font-size_xxl;
    &-item {
      margin-right: initial;
    }
    &-link {
      -webkit-font-smoothing: initial;
      display: block;
      padding: $space_l;
      text-align: center;
    }
  }
}

// https://www.nxworld.net/tips/12-css-hamburger-menu-active-effect.html
// ハンバーガーメニュー
.menu-trigger {
  display: none;
  @include sm() {
    display: inline-block;
  }
  @include md() {
    display: inline-block;
  }
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
  span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $font-color_default;
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &.active span {
    &:nth-of-type(1) {
      transform: translateY(12px) rotate(-45deg)
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: translateY(-15px) rotate(45deg)
    }
  }
}

// ==================================
// hero
// ==================================
.hero {
  background-image: url('../images/hero.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  justify-content: center; // flex-box内での横方向の配置設定
  align-items: center; // flex-box内での縦方向の配置設定
  &-title {
    font-size: 60px;
    font-family: $font-family_corp;
    color: #fff;
    text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
    @include sm() {
      text-align: center;
    }
    @include md() {
      text-align: center;
    }
  }
  br {
    display: none;
    @include sm {
      display: block;
    }
    @include md {
      display: block;
    }
  }
}

// ==================================
// container->section-top
// ==================================
.container {
  width: $site-width;
  @include sm() {
    width: 100%;
  }
  @include md() {
    width: 100%;
  }
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px;
  &-fruid {
    width: 100%;
  }
  &-title {
    font-family: $font-family_corp;
    text-align: center;
    font-size: $font-size_3l;
    margin-bottom: $space_3l;
    @include sm() {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    @include md() {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-body {
    @include sm() {
      padding-left: $space_l;
      padding-right: $space_l;
    }
    @include md() {
      padding-left: $space_l;
      padding-right: $space_l;
    }
  }
  &-ornament {
    .container-title {
      &-span { //Todo: リファクタ必要(span以外を使うことも考えてclass名で指定すること)->Done
        display: inline-block;
        background: #fff;
        padding: 0 10px;
        position: relative;
        z-index: 1;
      }
      &:before, &:after {
        border-top: 1px solid #2e1f1a;
        content: "";
        display: block;
        position: relative;
        z-index: 0;
      }
      &:before {
        top: 28px;
      }
      &:after {
        top: -28px;
      }
      &-lightGray {
        span {
          background: $background-color_default;
        }
      }
    }
  }
}

// ==================================
// container
// ==================================
.news {
  width: 70%;
  height: 60px;
  overflow: scroll;
  margin: 0 auto;
  border-radius: 5px;
  background: $background-color_default; //Todo:リファクタ必要(複数箇所で使いまわしているため、変数にまとめる)->Done
  padding: $space_l $space_xl;
  &-item {
    margin-bottom: $space_s;
  }
  &-date {
    color: $font-color_date;
    font-weight: bold;
    font-family: $font-family_corp;
    -webkit-font-smoothing: initial;
    margin-right: $space_m;
  }
  &-title {
    font-size: $font-size_m;
  }
}

// ==================================
// panel
// ==================================
.panel {
  box-sizing: border-box;
  background: #fff;
  position: relative;
  transition: .5s;
  &-hover {
    display: inline-block;
    transition: .5s;
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      transition: .5s;
    }
  }
  &-border {
    border-radius: 5px;
    border: 5px solid #f6f5f4;
  }
  &-head, &-foot {
    padding: $space_m;
  }
  &-head {
    text-align: center;
    color: $color_corp;
  }

  &-active {
    border: 5px solid $color_corp;
  }
  &-badge {
    background: #e37b89;
    color: #fff;
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1.3em;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: $font-size_s;
    transform: rotate(15deg);
    @include sm() {
      top: -20px;
      right: -13px;
    }
    @include md() {
      top: -20px;
      right: -13px;
    }
  }
  &-group {
    margin-right: -$space_l;
    &-float {
      overflow: hidden;
    }
    &-flex {
      display: flex;
      flex-wrap: wrap;
    }
    .panel {
      float: left;
      margin-right: $space_l;
      margin-bottom: $space_l;
      box-sizing: border-box;
    }
  }
  &-staff {
    width: calc(25% - #{$space_l});
    @include sm() {
      width: calc(50% - #{$space_l});
    }
    @include md() {
      width: calc(50% - #{$space_l});
    }
  }
  &-cource {
    width: calc(33.3% - #{$space_l});
    @include sm() {
      width: 100%;
      margin: 0 auto $space_l auto;
    }
    @include md() {
      width: 100%;
      margin: 0 auto $space_l auto;
    }
  }
}

// ==================================
// form
// ==================================
.form {
  width: 100%;
  &-m {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    @include sm() {
      width: 100%;
    }
    @include md() {
      width: 100%;
    }
  }
}

.input {
  display: block;
  margin-bottom: $space_m;
  border: 3px solid #f6f5f4;
  border-radius: 4px;
  outline: none;
  height: 60px;
  font-size: $font-size_l;
  color: $font-color_default;
  box-sizing: border-box;
  &-l {
    padding: 5px 10px;
    width: 100%;
  }
  &:focus { //擬似要素の一種で、要素がフォーカスされた際のCSS
    border: 3px solid $color_corp;
  }
  &-textarea {
    height: 200px;
  }
}

::placeholder { // form要素のplaceholderへのCSS
  color: #ccc;
}

// ==================================
// btn
// ==================================
.btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  transition: .3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: translateY(-3px);
    transition: .3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  &-corp {
    // グラデーション使用（参考サイト：https://uigradients.com/）
    color: #fff;
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &-l {
    padding: $space_l $space-xxl;
    width: 100%;
    font-size: $font-size_l;
  }
}

// ==================================
// footer
// ==================================
.footer {
  background: #555;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  @include sm() {
    font-size: $font-size_s;
  }
  @include md() {
    font-size: $font-size_m;
  }
}

// ==================================
// Utility
// ==================================
.bgColor { //Todo:リファクタ必要(後々色修正が入った場合に対処できるように修正)->Done
  background: #f8f7fc;
  box-shadow: 0 0 8px 2px #ddd inset;
}

.mb-xxl {
  margin-bottom: $space_xxl;
}

.ft-corp {
  font-weight: bold;
  font-family: $font-family_corp;
}

.ft-l {
  font-size: $font-size_xl;
}

// Todo:リファクタその１：SP（スマホ）でハンバーガーメニューを開いて、メニューをクリックした際に自動でメニューが閉じる様にしてみよう！->Done
// Todo:リファクタその２：iPad（768px）用のレイアウトも作成してみよう！（メニューボタンを非表示。.containerの横幅を100%に。右に出てしまう余白はなぜだろう？）